/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  form {
    margin-bottom: 20px;
  }
  